/******** MEDIA QUERIES ***********/
$big-phone: 400px;
$tablet: 600px;
$small-pc: 1000px;
$pc: 1400px;

@mixin big-phone {
  @media screen and (min-width: $big-phone) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin small-pc {
  @media screen and (min-width: $small-pc) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
