<template>
  <div class="home">
    <h1>{{ key }}</h1>
    <input type="text" name="" v-model="key" id="" />
    <h2>this is sample</h2>
    <button @click="click()">click me</button>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    key: "koddi"
  }),
  methods: {
    click() {
      console.log("hi electron-vue");
    }
  }
};
</script>