<template>
  <div id="app">
    <the-navigation />
    <router-view />
  </div>
</template>
<script>
import TheNavigation from "@/components/TheNavigation/TheNavigation.vue";
export default {
  components: {
    TheNavigation
  }
};
</script>
<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  background-color: #111;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
