@import "../../sass/main";
nav.navigation {
  width: 100%;
  height: 40px;
  background-color: #333333;
  ul {
    list-style-type: none;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
@include big-phone {
  nav.navigation {
    background-color: yellow;
  }
}
@include tablet {
  nav.navigation {
    background-color: green;
  }
}
@include small-pc {
  nav.navigation {
    background-color: blue;
  }
}
@include pc {
  nav.navigation {
    background-color: indigo;
  }
}
