<template>
  <nav class="navigation">
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/about">About</router-link>
      </li>
      <li>
        <router-link to="/sample">Sample</router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  name: "TheNavigation"
};
</script>
<style src="./TheNavigation.scss" lang="scss" scoped />